.card {
  display: inline-block;
  float: left;
  margin: 5px 10px;
  max-height: 400px;
  max-width: 450px;
}

.card:nth-of-type(even){
  background: grey;
}

.card:nth-of-type(odd){
  background: orange;
}

.selected {
  border: 10px red dotted;
}

img {
  width: 200px;
  height: 200px;
}